<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EncyptSecret" value="L33t$3cr3t"/>
    <add key="EncyptClipboardHotkey" value="F1"/>
    <add key="TypeClipboardHotkey" value="F2"/>
    <add key="DecypteClipboardHotkey" value="F3"/>
  </appSettings>
</configuration>
